.banner-image-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 50px 30px 50px 30px;
}

.banner-content {
    background-color: rgba($color: #FFFFFF, $alpha: .85);
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    .banner-content-title {
        color: $color-primary !important;
    }
}