.button-text {
    outline: none !important;
    padding: 0 0 4px 0;
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid $color-primary !important;
    color: $color-primary;
}